@import '../../_utils/mixins';

.loader {
  display: flex;

  @include onMobile {
    height: 50vh;
  }

  @include onTablet {
    height: 80vh;
  }

  @include onDesktop {
    height: 70vh;
  }

  &__item {
    margin: auto;
  }
}
