@import '../../_utils/mixins';

.main-page {
  margin: 0 16px;

  @include onTablet {
    margin: 0 24px;
  }

  @include onDesktop {
    margin: 0 auto;
    max-width: 1136px;
    width: 100%;
  }
}

.text__item {
  font-size: 12px;
  line-height: 15px;
  color: #89939a;
  display: inline;
}

.back-menu {
  display: flex;
  align-items: center;
  margin-top: 24px;

  &__item {
    margin-right: 8px;
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../../images/home.svg');
    background-size: cover;
    margin-left: 8px;
  }
}

.menu-title {
  margin: 24px 0 8px;
  font-weight: 800;
  font-size: 32px;

  @include onTablet {
    margin-top: 40px;
    font-size: 48px;
  }
}

.phones-cards {
  display: grid;
  margin: 16px auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 272px);
  gap: 40px 16px;
}

.models-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.clear-button {
  padding: 1px 5px;
  border: 1px solid #89939a;
  border-radius: 30px;
  font-family: "Mont", sans-serif;
  color: #89939a;;
  font-size: 12px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.clear-button:hover {
  border: 1px solid #000;
  color: #000;
}
