.card-1 {
  background: #6d6474;

  .category-card_image-link {
    background-color: #89939a;
  }
}

.card-2 {
  background: #8d8d92;

  .category-card_image-link {
    background-color: #bfbfbf;
  }
}

.card-3 {
  background: #973d5f;

  .category-card_image-link {
    background-color: #ffbf00;
  }
}
