.card-1 {
  background: #6D6474;

  .category-card_image-link {
    background-color: #89939A;
  }
}

.card-2 {
  background: #8D8D92;

  .category-card_image-link {
    background-color: #BFBFBF;
  }
}

.card-3 {
  background: #973D5F;

  .category-card_image-link {
    background-color: #FFBF00;
  }
}
