@import './_utils/mixins';

.head {
  display: flex;
  background-color: #fff;

  &__link {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 18px 24px;
    width: 128px;
    height: 64px;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  @include onDesktop {
    &__link {
      margin-right: 24px;
    }
  }

  @include onTablet {
    &__link {
      width: 96px;
      height: 48px;
      margin-right: 16px;
      padding: 13px 16px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__item {
    font-weight: bold;
  }

  &__item:last-of-type {
    margin-right: 0;
  }

  &__link {
    padding: 23px 0;
    text-decoration: none;
    color: #89939a;
    transition: color 0.3s linear;
  }

  &__link:hover {
    color: #0f0f11;
    transition: color 0.3s linear;
  }

  @include onDesktop {
    &__item {
      margin-right: 64px;
    }
  }

  @include onTablet {
    &__item {
      margin-right: 32px;
    }

    &__link {
      padding: 15px 0;
    }
  }

  @include onMobile {
    & {
      display: none;
    }
  }
}

.is-active {
  color: #0f0f11;
  position: relative;
}

.is-active::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: #0f0f11;
  position: absolute;
  top: 94%;
  animation: scale 0.1s linear;
}

@keyframes scale {
  from {
    transform: scaleX(0%);
  }

  to {
    transform: scaleX(100%);
  }
}
