@import url('../../reset.scss');
@import url('../../index.scss');

@font-face {
  font-family: 'Mont';
  src: url('../../fonts/Mont-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Mont';
  src: url('../../fonts/Mont-SemiBold.ttf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Mont';
  src: url('../../fonts/Mont-Bold.ttf') format('opentype');
  font-weight: 800;
}

$primary-c: #4219d0;
$secondary-c: #89939a;
$green-c: #27ae60;
$red-c: #eb5757;
$elements-c: #e2e6e9;

.container__width {
  width: 272px;
  border: #89939a;
  box-sizing: border-box;
}

.product-card {
  font-family: 'Mont', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;

  &__image {
    height: 208px;
    margin-bottom: 24px;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    height: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
    align-self: start;
    text-decoration: none;
    color: black;
  }

  &__price-container {
    display: flex;
    align-self: start;
    width: 100%;
    align-items: center;

    margin-bottom: 8px;
  }

  &__price {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    &--crossed {
      margin-left: 8px;
      text-decoration-line: line-through;
      font-size: 22px;
      font-weight: 700;
      color: $secondary-c;
    }
  }

  &__divider {
    border: none;
    background-color: $elements-c;

    display: block;
    height: 1px;
    width: 100%;
  }

  &__details-container {
    width: 100%;
    margin: 16px 0;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    margin-bottom: 8px;

    &__title {
      color: $secondary-c;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__button-container {
    display: flex;
    width: 100%;
  }

  &__button {
    flex-grow: 1;
    height: 40px;
    background-color: $primary-c;
    border: 1px solid $primary-c;
    border-radius: 48px;
    cursor: pointer;

    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    transition: all 0.5s ease-out;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
      transition: all 0.7s ease-out;
    }

    &--added {
      flex-grow: 1;
      color: $green-c;
      background-color: white;
      border: 1px solid #e2e6e9;

      &:hover {
        color: $green-c;
        border: 1px solid #e2e6e9;
        transition: all 0.5s ease-in;
      }
    }
  }

  &__button-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: 1px solid $elements-c;
    border-radius: 48px;
    margin-left: 8px;
    cursor: pointer;
    transition: all 0.5s ease-out;

    &:hover {
      background-color: white;
      border: 1px solid $primary-c;
      box-shadow: rgba(184, 187, 190, 0.1) 0px 4px 5px;
      transition: all 0.5s ease-in;
    }
  }
}
