@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-Regular.ttf');
  font-weight: normal;
}

html {
  font-family: 'Mont', sans-serif;
}

body,
ul {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
